.btn{
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(6, 6, 6, 0), rgb(228, 68, 204));
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px;
    border-radius: 8px;
    border-width: 0;
    max-width: 25rem;
}
.btn:active{
    background-color: rgb(187, 29, 29);
}
.btn1{
    padding: 1rem;
    background-image: conic-gradient(red, rgb(93, 0, 255), green);
    color: white;
    transform: rotate(-20deg);
    transition-duration: 0.4s;
    border-radius: 30px;
    border-width: 0;
    max-width: 8rem;
}

.btn1:active{
    background-color: rgb(0, 0, 0);
}
.main{
    display: flex;
    background-image: linear-gradient(rgb(237, 243, 169), rgb(246, 138, 88));
    align-items: center;
    flex-direction: column;
    transform: translate(0px, 230px);
    color: rgb(255, 40, 40);
    box-shadow: 10px 10px 5px 12px rgb(109, 182, 168);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(139, 0, 120);
}
body{
    background-image: linear-gradient(to right, rgba(202, 217, 241, 0), rgb(56, 182, 255));
}